Sample{
	com.jlx.jaas.module.PasswordLoginModule required;
};

simp_1{
	com.sun.security.auth.module.KeyStoreLoginModule required
  	keyStoreURL ="file:C:\\Documents and Settings\\Administrator//.keystore"
  	keyStoreAlias =jianglx1;
};

simp_2 {
	com.sun.security.auth.module.NTLoginModule required;
};

simp_3{
	com.jlx.jaas.module.PasswordLoginModule required;
};

simp {
   	com.jlx.jaas.module.TypicalLoginModule sufficient debug=true;
	com.jlx.jaas.module.PasswordLoginModule required;
	com.sun.security.auth.module.NTLoginModule required debug=true;
   
};
