<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>DWR-DEMO</display-name>
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
			<description></description>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>ChatRoomServlet</servlet-name>
		<display-name>ChatRoomServlet</display-name>
		<description></description>
		<servlet-class>
			jlx.ajax.servlet.ChatRoomServlet
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ChatRoomServlet</servlet-name>
		<url-pattern>/ChatRoomServlet</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

</web-app>
